server:
  port: 18003
  servlet:
    context-path: /api

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/acg17?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8
    username: acg17
    password: xxx

  # 使用qq邮箱自动发送邮件
  mail:
    username: xxx@qq.com # 发送方邮箱
    password: xxx # 授权码
    host: smtp.qq.com # qq邮件服务地址
    port: 587 # 端口
    default-encoding: utf-8 # 编码格式
    properties: # 其它参数
      mail:
        transport:
          protool: smtp
        smtp:
          socketFactory:
            class: javax.net.ssl.SSLSocketFactory
          port: ${spring.mail.port}
          auth: true
          starttls:
            enable: true
            required: true

mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: deleted # 全局逻辑删除的实体字段名
      logic-delete-value: 1 # 逻辑已删除值(默认为 1)
      logic-not-delete-value: 0 # 逻辑未删除值(默认为 0)

      insert-strategy: NOT_EMPTY # 插入时，字段为空则不插入
      update-strategy: NOT_EMPTY # 更新时，字段为空则不更新

# 文件上传地址
file:
  # 根路径
  uploadFolder: /data/acg17/ # 文件上传地址
  # 子路径
  illustrationFolder: illustrations/upload/ # 插画上传的次级文件夹
  illustrationThumbFolder: illustrations/upload-t/ # 插画缩略图文件夹
  mangaFolder: manga/ # 漫画上传的次级文件夹
  novelFolder: novels/ # 小说上传的次级文件夹
  gameFolder: games/ # 游戏上传的次级文件夹
  # 只公开站点自带的装饰素材；用户上传文件由 /media 签名接口提供
  publicAssetFolder: illustrations/web-img/
  publicAssetAccessPath: /public-assets/**
  # 最大上传大小
  maxFileSize: 512MB # 单个文件最大大小
  maxRequestSize: 1024MB # 单次请求最大大小
  maxIllustrationFileSize: 100MB # 单张插画最大大小
  mangaZip:
    maxEntries: 5000 # 最大文件和目录条目数
    maxEntrySize: 100MB # 单个文件最大解压大小
    maxExtractedSize: 1GB # 整个压缩包最大解压大小

security:
  jwt:
    secret: ${JWT_SECRET}
  media:
    secret: ${MEDIA_URL_SECRET}
    expiration-minutes: ${MEDIA_URL_EXPIRATION_MINUTES:60}
